# Copy this file to .env and fill values
PORT=3000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/mydatabase?retryWrites=true&w=majority
JWT_SECRET=change_this_to_a_strong_secret
ADMIN_USER=admin
ADMIN_PASS=pass

# After configuring MONGODB_URI and ADMIN_* variables you can run the seed script:
# cd server
# npm install
# npm run seed-admin
# This will create an admin user in the DB with the username/password from ADMIN_USER / ADMIN_PASS
